.Aboutus {
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    background: linear-gradient(135deg, #FFFFFF 0%, #E0F7FA 50%, #B2EBF2 100%);
}

.about-container {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
    padding: 20px;
    gap: 20px; /* Added gap for spacing */
}

@media (min-width: 768px) {
    .about-container {
        flex-direction: row; /* Align items horizontally on larger screens */
        align-items: flex-start;
    }
}

.image-container {
    flex: 1;
    max-width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .image-container {
        margin-right: 20px;
        margin-bottom: 0;
    }
}

.image-container img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.content-container {
    flex: 1;
    max-width: 100%;
}

.content-container p {
    margin: 0 0 10px;
    line-height: 1.6;
    font-weight: 600;
}

.content-journey {
    margin: 2rem;
}

.content-journey p {
    line-height: 1.6;
    font-weight: 600;
    font-size: 1rem;
}

.level {
    display: flex;
    flex-wrap: wrap; /* Wrap items to new line on smaller screens */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Spacing between items */
}

.box1 {
    height: 300px;
    width: 250px;
    border: 1px solid black;
    border-radius: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    overflow: hidden; /* Prevents overflow */
}

.box1:hover {
    box-shadow: 2px 2px 10px 10px rgb(203, 216, 228);
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}

.box-content {
    text-align: center;
}

.box-content img {
    width: 100px;
    height: auto;
}

.level2 {
    display: flex;
    flex-wrap: wrap; /* Wrap items to new line on smaller screens */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box2 {
    height: 400px;
    width: 500px;
    border: 0px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    overflow: hidden; /* Prevents overflow */
}

.box2:hover {
    box-shadow: 0px 0px 10px 10px rgb(175, 170, 171);
    transform: translateY(-2px);
    transition: all 0.5s ease-in-out;
}

.box-content2 {
    text-align: center;
}

.box-content2 img {
    width: 100%;
    height: auto;
    max-width: 395px;
    border: 2px solid;
    border-radius: 30px;
}

.box-content2 text {
    display: block;
    font-family: sans-serif; /* Default font-family */
    font-weight: 100; /* Adjust as needed */
    font-size: 25px;
    margin-bottom: 10px; /* Added margin for spacing */
}
